@model ShopMartWebsite.Models.ProductViewModel;
@using ShopMartWebsite.Entities;
@inject UserManager<User> userManager;
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="product-detail">
        <div class="container-product">
            <div class="product-view-area">
                <div class="product-detail-left">
                    <div class="large-image">
                        <img src="~/images/site/@Model.image" alt="">
                    </div>
                </div>
                <div class="product-detail-right">
                    <div class="wrap-right">
                        <div class="product-name">
                            <h1>@Model.name</h1>
                        </div>
                        <hr />
                        <div class="price-box">
                            <h3>Giá</h3>
                            <p class="special-price">@Model.price VNĐ</p>
                        </div>
                        <hr />
                        <div class="description">
                            <h2>Mô tả</h2>
                            <p>
                                @Model.description
                            </p>
                        </div>
                        <hr />
                        <div class="color-size">
                            <div class="color-area">
                                <h5>Màu sắc</h5>
                                <div class="color">
                                    <ul>
                                        <li class="black"><a href="#"></a></li>
                                        <li class="red"><a href="#"></a></li>
                                        <li class="orange"><a href="#"></a></li>
                                        <li class="green"><a href="#"></a></li>
                                        <li class="blue"><a href="#"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="size-area">
                                <h5>Size</h5>
                                <div class="size">
                                    <ul>
                                        <li><a href="#">S</a></li>
                                        <li><a href="#">L</a></li>
                                        <li><a href="#">M</a></li>
                                        <li><a href="#">XL</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="product-variation">
                            <form action="#">
                                <div class="cart-plus-minus">
                                    <label>Số lượng: </label>
                                    <div class="numbers-row">
                                        <div class="minus">
                                            <i class="fas fa-minus"></i>
                                        </div>
                                        <input type="text" value="1">
                                        <div class="plus">
                                            <i class="fas fa-plus"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-add-cart">
                                    <button>
                                        <span>
                                            <i class="fas fa-shopping-basket"> Thêm giỏ hàng</i>
                                        </span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="comment-area" style=" width: 80%; margin: 0 auto;">
        <h3 style="margin: 20px;">Các đánh giá</h3>
        <div class="comment-box" style="width: 60%;  margin: 20px;">
            <form class="comment-form" asp-action="Comment" asp-controller="Home">
                <input name="user" type="hidden" value="@await userManager.FindByNameAsync(User.Identity.Name)"/>
                <input name="productId" type="hidden" value="@Model.id"/>
                <textarea name="content" class="form-control"></textarea>
                <button class="btn btn-primary" style="margin-top: 3px;" type="submit">bình luận</button>
            </form>
        </div>
        <!-- comment-->
        @foreach (var cmt in Model.Comments)
        {
            <div class="comment" style="width: 60%; margin: 20px;">
                <div class="title-comment" style="display: flex; ">
                    <div style="background: #f1f1f1;width: 30px; height: 30px; border: 1px solid #f1f1f1; text-align: center; margin-right: 20px;">
                        <h5>T</h5>
                    </div>
                    <h5>@cmt.user.UserName</h5>
                </div>
                <div class="comment-content" style="background: #f1f1f1;">
                    <h6 style="margin: 5px;">@cmt.content</h6>
                </div>
                <div style="">
                    &nbsp;<a role="button" aria-expanded="false" data-toggle="collapse" href="#collapseExample" aria-controls="collapseExample">Trả lời</a>
                    <span> - @cmt.createDate</span>
                </div>
                <div id="collapseExample" class="collapse">
                    <div style="display: flex; justify-content: flex-end;">
                        <div style="display: flex; justify-content:flex-end;flex-direction: column; width: 80%;">
                            @foreach (var rp in cmt.Replies) {
                                <!--Reply-->
                                <div style=" width: 100%;">
                                    <div class="title-comment" style="display: flex; ">
                                        <div style="background: #f1f1f1;width: 25px; height: 25px; border: 1px solid #f1f1f1; text-align: center; margin-right: 20px;">
                                            <h6>T</h6>
                                        </div>
                                        <h6>@await userManager.FindByIdAsync(rp.userId)</h6>
                                    </div>
                                    <div class="comment-content" style="background: #f1f1f1;">
                                        <h6 style="margin: 5px;">
                                            @rp.content
                                        </h6>
                                    </div>
                                    <div style="">
                                        <span> - @rp.createDate</span>
                                    </div>
                                </div>
                                <!--Box Reply-->
                            }
                            <div class="reply-box" style=" width: 100%;">
                                <form class="comment-form">
                                    <textarea class="form-control"></textarea>
                                    <button class="btn btn-primary" style="margin-top: 3px;" type="submit">trả lời</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- x comment x-->
        }
    </div>
</main>

