@{
    ViewData["Title"] = "Home Page";
}

@model ShopMartWebsite.Models.ProductListViewModel
<!--------Navbar------->
<div class="container-menu">
    <nav class="menu-navbar">
        <!---->
        <div>
            <ul class="dropdown">
                <li>
                    <a href="#">DANH MỤC SẢN PHẨM</a>
                    <ul class="menu-area">
                        <ul>
                            @foreach (var item in @Model.Categories)
                            {
                                <li><a asp-action="Index" asp-controller="Home" asp-route-categoryId="@item.id">@item.name</a></li>
                            }

                        </ul>
                    </ul>
                </li>
            </ul>

        </div>
        <!---->
        <div class="search">
            <form>
                <div class="search-items">
                    <select class="search-select" name="categoryId" style="width: 36%; border: none; border-right: 3px solid #f1f1f1; border-radius: 1px;">
                        <option value="0">Tất cả sản phẩm</option>
                        @foreach (var item in @Model.Categories)
                        {
                            <option value="@item.id" selected="@(Model.categoryId==item.id)">
                                @item.name
                            </option>
                        }
                    </select>
                    <input class="search-input" type="text" name="searchterm"  value="@Model.SearchTerm" placeholder="Enter your search...">
                    <button class="search-btn" type="submit">
                        <i class="fas fa-search p-2"></i>
                    </button>
                </div>
            </form>
        </div>
        <div style="text-align: end;">
            <!--<li class="nav-item border rounded-circle mx-2 basket-icon">
                <i class="fas fa-shopping-basket p-2"></i>
            </li>-->
            @if (!User.IsInRole("Admin"))
            {
                <a class="cart-btn" href="@Url.Action("Cart","Home")">

                    <span class="nav-icon">
                        <i class="fas fa-cart-plus"></i>
                    </span>
                    <div class="cart-items">0</div>
                </a>
            }
            else
            {
                <a class="cart-btn disabledd" href="#">

                    <span class="nav-icon">
                        <i class="fas fa-cart-plus"></i>
                    </span>
                    <div class="cart-items">0</div>
                </a>
            }

        </div>
    </nav>
</div>
<!--navbar-->
<main>
    <!----------Slider---------->
    <div class="container-fluid p-0">
        <div class="wrapper">
            <div class="site-slider">
                <div class="slider-one">
                    <div class="banner">
                        <img src="~/user/assets/Banner/banner-1.jpg" class="img-fluid" alt="Banner 1">
                    </div>
                    <div class="banner">
                        <img src="~/user/assets/Banner/banner-2.webp" class="img-fluid" alt="Banner 2">
                    </div>
                    <div class="banner">
                        <img src="~/user/assets/Banner/banner-3.webp" class="img-fluid" alt="Banner 3">
                    </div>
                </div>
                <div class="slider-btn">
                    <span class="prev position-top"><i class="fas fa-chevron-left"></i></span>
                    <span class="next position-top right-0"><i class="fas fa-chevron-right"></i></span>
                </div>
            </div>
            <div class="banner-mini">
                <img src="~/user/assets/MiniBanner/banner-mini1.png" class="img-fluid" alt="Banner 1">
                <img src="~/user/assets/MiniBanner/banner-mini2.png" class="img-fluid" alt="Banner 1">
                <img src="~/user/assets/MiniBanner/banner-mini3.png" class="img-fluid" alt="Banner 1">
                <img src="~/user/assets/MiniBanner/banner-mini4.png" class="img-fluid" alt="Banner 1">
            </div>
        </div>
    </div>
    <!-----x-----Slider-----x----->
    <!----------Products---------->
    <section class="products">
        <div class="section-title">
            <h2>Các sản phẩm</h2>
        </div>
        @if (Model.Products != null)
        {
            <div class="products-center">
                <!-- single product -->

                @foreach (var item in Model.Products)
                {
                    <article class="product">
                        <div class="img-container">
                            <img src="~/images/site/@item.image" style="max-height: 275px" alt="product" class="product-img">
                            @if (! User.IsInRole("Admin")) {
                            <button class="bag-btn" data-id="@item.id" data-name="@item.name" data-image="@item.image" 
                                    data-description="@item.description" data-category="@item.category.name" data-price="@item.price"
                                    data-color="@item.color" data-size="@item.size">
                                <i class="fas fa-shopping-cart"></i>
                                thêm giỏ hàng
                            </button>
                            }
                        </div>
                        <a asp-controller="Home" asp-action="Detail" asp-route-productID="@item.id"><h3>@item.name</h3></a>
                        <h6>@item.price VNĐ</h6>
                    </article>
                }

                <!--x single product x-->
            </div>
            <!-- pager - sử dụng bootstrap - pagination -->
            if (Model.Pager.EndPage > 1)
            {
                
                <nav>
                    <ul class="pagination" style="width: 150px; margin: 30px auto;">
                        @if (Model.Pager.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index","Home", new { searchTerm = Model.SearchTerm, categoryId = Model.categoryId })">
                                    <i class="fas fa-angle-double-left"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index","Home", new { page = Model.Pager.CurrentPage - 1,
                                                  searchTerm = Model.SearchTerm, categoryId = Model.categoryId })">
                                    <i class="fas fa-angle-left"></i>
                                </a>
                            </li>
                        }

                        @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                        {
                            <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                                <a class="page-link" href="@Url.Action("Index","Home", new { page = page,
                                                  searchTerm = Model.SearchTerm, categoryId = Model.categoryId })">@(page)</a>
                                            </li>}

                        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index","Home", new { page = Model.Pager.CurrentPage + 1,
                                                  searchTerm = Model.SearchTerm, categoryId = Model.categoryId })">
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index","Home", new { page = Model.Pager.TotalPages,
                                                  searchTerm = Model.SearchTerm, categoryId = Model.categoryId })">
                                    <i class="fas fa-angle-double-right"></i>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
                  
            }
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                Xin lỗi! Không tìm thấy sản phẩm!
            </div>
        }
    </section>
    <!-----x-----Products-----x----->
</main>
<script>
    var lstItem = [];
    const cartItems = document.querySelector('.cart-items');
    if (window.localStorage)
        lstItem = JSON.parse(window.localStorage.getItem("carts"));
    if (!lstItem)
        lstItem = [];
    console.log("giohangton truoc", lstItem);
    $(".bag-btn").click(function () {
        var exist = false;
        var productId = $(this).attr("data-id");
        for (i in lstItem) {
            if (lstItem[i].id == productId) { lstItem[i].quantity += 1; exist = true; }
        }
        console.log("giohangton sau", lstItem);
        if (exist == false) {
            var productId = $(this).attr("data-id");
            var name = $(this).attr("data-name");
            var image = $(this).attr("data-image");
            var description = $(this).attr("data-description");
            var category = $(this).attr("data-category");
            var color = $(this).attr("data-color");
            var size = $(this).attr("data-size");
            var price = $(this).attr("data-price");
            var item = {
                id: productId, name: name, image: image, description: description, category: category, color: color,
                size: size, price: price, quantity: 1
            }

            lstItem.push(item);
            let itemsTotal = 0;
            lstItem.map(item => {
                itemsTotal += item.quantity;
            });
            cartItems.innerText = itemsTotal;
            window.localStorage.setItem("carts", JSON.stringify(lstItem));
            alert("đã thêm vào giỏ hàng!!!");
        }
        else {
            let itemsTotal = 0;
            lstItem.map(item => {
                itemsTotal += item.quantity;
            });
            cartItems.innerText = itemsTotal;
            window.localStorage.setItem("carts", JSON.stringify(lstItem));
            alert("đã thêm vào giỏ hàng!!!");
        }
        
    });
</script>